/*****************************************************************************/
/*
/* Variables and Simple Mixins.
/*
/*****************************************************************************/
$font-varela: "Varela", Arial, sans-serif;
$doc-font-size: 16;
$doc-line-height: 24;
$black: #333;