/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "base";
 @import "font-awesome";

@mixin color-buttons($color: #f0f0f0, $text-color:#fff) {
	a{
		@include background-image(linear-gradient($color, darken($color,10%)));
		border-color: darken($color, 5%);
		color:$text-color;
		@include text-shadow(0 1px 0 invert($text-color));
	}	
}

html {
	height: 100%;  
}


body {
	padding: 0;
	background:$white;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;

	padding: 0 2em; 
}


img {
	max-width: 100%;
	min-height: 1px; 
}

h1{
	height:50px;
	line-height:50px;
	background:#000;
	color:$white;
	font-size:2em;
	padding:0 0.25em;
	margin-bottom:0.5em;
	margin-top:0.25em;
}
h2{

}

.packery,.columns{
	@include cf();
}

.left{
	float:left;
	width:49%;
}
.right{
	float:right;
	width:49%;
}

.tile{

	float:left;
	margin: 0 8px 8px 0;
	&.plain{
		line-height:50px;
		padding:0 0.5em;
		color:#aaa;
		text-shadow:#fbfbfb;
	}
	a{
		color:$black;
		text-decoration:none;
		display:block;
		position:relative;
		padding:0 0 0 50px;
	}
	i{
		padding:3px;
		font-size:30px;
		position:absolute;
		top:0px;
		left:0px;
		background:003672;
		@include background-image(radial-gradient(45px 45px, #116900 10px, darken(#116900,10%) 30px));
		color:$white;
		width:50px;
		height:50px;
		line-height:40px;
		text-align:center;
		border:3px solid darken(#116900,10%);
		text-shadow:0 1px 0 #000;
	}
	strong{
		display:block;

		background:$black;
		color:#fff;
		padding:0 0.5em;
		line-height:50px;

	}
	span{
		display:none;
		font-size:12px;
		height:50px;
		width:100%;
		background:#0f0;
		width:20px;
	}
}

.divider{
	height:1em;
	background:#f0f0f0;
	margin:8px 0 16px 0;
}

ul {
	@include cf();

	width: 100%;
	padding: 0;
	@include rhythm(1,0,0,1);
	margin: 0;
	list-style:none;
	li{
		float:left;
		a {

			background:#fbfbfb;
			@include background-image(linear-gradient(#fbfbfb, darken(#fbfbfb,5%)));
			@include transition(0.2s);
			margin:0 8px 8px 0;
			font-weight:bold;
			border: 1px solid #000;
			display: block;
			margin:0 8px 8px 0;
			text-shadow: 0 1px 0 white;
			position: relative;
			overflow: hidden;
			color:$black;
			line-height:1em;
			text-decoration: none;
			padding:1em;
			span {
				color: blue;
				font-weight: normal;
				font-size: 0.75em;
				text-decoration: none;
			}
			i{
				text-shadow: 2px 2px 2px white;
				text-decoration: none;
				color: #000;
				margin: 0 0.5em;
			}
		}
	}
	&.projects{

		li{
			a{
				span{
					display:none;
				}
			}
			&:nth-child(1) {
				@include color-buttons(#033255);
			}
			&:nth-child(2) {
				@include color-buttons(#c0143c, #fff);
			}
			&:nth-child(3) {
				@include color-buttons(#0066b0, #fff);
			}

			&:nth-child(4) {
				@include color-buttons(#000000);

			}
			&:nth-child(5) {
				@include color-buttons(#faa634);
			}
			&:nth-child(6) {
				@include color-buttons(#febe10);
			}
			&:nth-child(7) {
					@include color-buttons(#e40225);
			}
			&:nth-child(8) {
					@include color-buttons(#133d8d);
			}
			&:nth-child(9) {

			}
			&:nth-child(10) {
					@include color-buttons(#ff3a0a);
			}
		}
	}
}





/*
MEDIA QUERIES
*/
@media only screen and (max-width: 481px) {

	.tile{
		width:100%;
		margin:0 0 8px 0;
		&.plain{
			color:#000;
			text-transform:uppercase;
			font-weight:bold;
			padding-left:0;
			margin-top:-8px;
		}
	}
	ul{
		li{
			float:0;
			width:100%;
			a{
				margin:0 0 8px 0;
			}
		}
	}

	.left, .right{
		width:100%;
		float:none;
	}


} // end of media query*/


@media only screen and (min-width: 768px) {


} // end of media query*/


@media only screen and (min-width: 1030px) {

} // end of media query*/



/*RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {


} // end of media query


/*
PRINT STYLESHEET
*/
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		color: #444 !important;
		text-decoration: underline;

        // show links on printed pages
        &:after {
        	content: " (" attr(href) ")";
        }

        // show title too
        abbr[title]:after {
        	content: " (" attr(title) ")";
        }
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
    	content: "";
    }

    pre, blockquote {
    	border: 1px solid #999;
    	page-break-inside: avoid;
    }

    thead {
    	display: table-header-group;
    }

    tr, img {
    	page-break-inside: avoid;
    }

    img {
    	max-width: 100% !important;
    }

    @page {
    	margin: 0.5cm;
    }

    p, h2, h3 {
    	orphans: 3;
    	widows: 3;
    }

    h2,
    h3 {
    	page-break-after: avoid;
    }

    // hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    nav {
    	display: none;
    }
}

