@import "../bower_components/normalize-css/normalize.css";
@import "http://fonts.googleapis.com/css?family=Varela";
@import "font-awesome";
@import "syntax";

/*****************************************************************************/
/*
/* Variables and Simple Mixins.
/*
/*****************************************************************************/
$font-varela: "Varela", Arial, sans-serif;
$doc-font-size:16;
$doc-line-height:24;
$black: #333;

@mixin cf() {
	*zoom: 1;
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}
@mixin list-reset() {
	margin:0;
	padding:0;
	list-style:none;
}


// initial variables set-up


// mixin

@mixin font-size($size, $keyword: null, $line-height:$doc-line-height) {
//
// EXAMPLE -   font-size(16);
//             font-size(16, medium);
//             font-size(16, medium, 24);
//
// note that the numeric font-size is required to allow the line-height to be generated correctly.

// the addition of the $keyword has been borrowed from this technique - http://seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback

	@if $keyword{
		font-size: $keyword;
	}
	@else {
		font-size: 0px + $size;
		font-size: $size / $doc-font-size +rem;
	}
// because you have to include the font size as a number for the keywor you can still get the line-height

	line-height: (round($line-height / $size*10000) / 10000)+em;

	margin-bottom: 0px + $line-height;
	margin-bottom: ($line-height / $doc-font-size)+rem ;

	margin-top: 0px + $line-height;
	margin-top: ($line-height / $doc-font-size)+rem ;
}

@mixin box-shadow($shadow: 0px 0px 4px 0px #7a7a7a) {
	-webkit-box-shadow: $shadow; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: $shadow; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

// set-up the body font-size / line-height

body {

}


/*
http://paulirish.com/2012/box-sizing-border-box-ftw/
*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*****************************************************************************/
/*
/* Sitewide
/*
/*****************************************************************************/

html {
	-webkit-font-smoothing: antialiased;
	margin-top: 0px + $doc-line-height;
	font-size: 0px + $doc-font-size;
	margin:0;
	padding:0;

}

body{
	padding:0;
	color:$black;
	background:white;
	min-width:340px;
}

.container{
	padding:0 2em;
	font-family: "Varela", Arial, sans-serif;
	margin:0 auto;
	@include cf();
}
a{
	color:darken(#BADEFF,30%);
}

/*****************************************************************************/
/*Baseline Grid
/*
/*****************************************************************************/

h1 {
	@include font-size(40, null, 24);
}
h2 {
	@include font-size(24);
}

h3 {
	@include font-size(22);
}
h4 {
	@include font-size(20);
}
blockquote, h5, h6, iframe, label, p, pre, address, td, th, ul, ol, dl, dd, hr,
table {
	@include font-size(16, medium);
}
small {
	@include font-size(14);
}

h6 {
	@include font-size(14);
	margin-bottom: 0;
}

/*****************************************************************************/
/*
Header
/*
/*****************************************************************************/

nav{
	ul{
		@include cf();
		@include list-reset();
	}
	li{
		float:left;
	}
	a{
		display:block;
		margin:0.20em 0;
		padding:0.5em 1em;
		color:#fff;
		border-radius: 4px;
		text-decoration:none;
		border:1px solid #fff;


		background:darken(#BADEFF, 20%);
		margin-right:1em;
		&.current{
			background:darken(#BADEFF, 30%);
		}
	}
}

/*****************************************************************************/
/*
Content
/*
/*****************************************************************************/
.site-content{
	margin-bottom:1.5em;
}

	.container{
		max-width:960px
	}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.article-list{

	article{

	}

	h1{
		@include font-size(24);
	}

	time{
		display: block;
		margin-top: -1em;
	}
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



#site-header {
	background:#BADEFF;
	.container{

		padding-bottom:1.40em;
		border-bottom:0.1em solid #ccc;
	}
	a {
		font-weight: bold;
		text-decoration: none;
	}

	a.extra {
		color: #aaa;
		margin-left: 1em;
		&:hover {
			color: #000;
		}
	}

	.title{
		margin-top:0;
		padding-top:24px;
		padding-top:1.5rem;
		margin:0;
		padding-bottom:24px;
		padding-bottom:1.5rem;
		padding-right:1rem;

		display:inline-block;
		background:#BADEFF;

		a{
			color:#333;
			text-decoration:none;
		}
		span{
			@include font-size(16);
			color:darken(#BADEFF,50%);
		}
	}

}



#site-footer {
	color: #666;
	overflow: hidden;
	padding-top:1.4em;

	border-top:0.1em solid #ccc;
	.contact {
		float: left;
		margin-right: 3em;
		margin: 0 3em 1.5em 0;
		p{margin:0;}
		a {
			color: darken(#BADEFF,30%);
			display:block;
			i{
				text-decoration:none;
				margin:0.122em 0.25em 0 0.25em;
				background:darken(#BADEFF,30%);
				border-radius: 1000px;
				color:#fff;
				padding:0.1em 0.5em;
			}
		}
	}
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
	pre {
		border: 1px solid #ddd;
		background-color: #eef;
		padding: 0 .4em;
	}

	code {
		border: 1px solid #ddd;
		background-color: #eef;
		padding: 0 .2em;
	}
	pre {
		code {
			border: none;
		}
		&.terminal {
			border: 1px solid #000;
			background-color: #333;
			color: #FFF;
			code {
				background-color: #333;
			}
		}
	}
}
/*
MEDIA QUERIES
*/
@media only screen and (max-width: 481px) {

	.tile {
		width: 100%;
		margin: 0 0 0.25em 0;
		&.plain {
			color: #000;
			text-transform: uppercase;
			font-weight: bold;
			padding-left: 0;
			margin-top: -0.25em;
		}
	}

	.left, .right,
	.column {
		margin-right: 0;
		width: 100%;
		float: none;

	}
	.columns {
		.left, .right {
			margin-right: 0;
			width: 100%;
			float: none;
		}
	}

}

// end of media query*/

@media only screen and (min-width: 768px) {
	.title{
		display:block;
	}
	#site-header{
		.container{
			background:url(../img/site-header.gif) 100% 100% no-repeat;

		}
	}

}

// end of media query*/

@media only screen and (min-width: 1030px) {

}

// end of media query*/

/*RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

// end of media query

/*
PRINT STYLESHEET
*/
@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		color: #444 !important;
		text-decoration: underline;

		// show links on printed pages
		&:after {
			content: " (" attr(href) ")";
		}

		// show title too
		abbr[title]:after {
			content: " (" attr(title) ")";
		}
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

// hide content people who print don't need to see
	.sidebar,
	.page-navigation,
	.wp-prev-next,
	.respond-form,
	nav {
		display: none;
	}
}

