<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- syntax highlighting CSS -->
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
   </head>
<body>

    <header class="site-header">
        <div class="container">
            <p class="site-avatar"><img src="/img/tomgordon.jpg" class="img-responsive img__rounded" alt="Tom Gordon">
            <a href="http://fitzroygsd.com/frontend" class="site-avatar__teaching">I'm teaching a frontend course at Fitzroy GSD!</a>
            </p>
            
            <h1 class="site-title">Hi, I'm {{ site.name }}. </h1>
            <h2>I develop the internet to make the world a nicer place at <a href="http://www.squareweave.com.au">Squareweave</a>.</h2>
            <p>...and I have trails all over the webs. Give me a buzz!</p>

            <nav class="site-navigation">
                <ul class="site-navigation__list">
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url == link.url or page.layout == link.layout %}
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="site-navigation__item {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                        <a class="site-navigation__link {{ current }} {{link.class}}" href="{{ link.url }}"><i class="icon-{{link.icon}}"></i>{{ link.text }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>

            <hr class="split" />
            
            <h2>The things I'm excited about <strong><small>Updated 09/03/15</small></strong></h2>

            <h3>Tech</h3>

            <p>I just bought myself a <a href="https://www.kickstarter.com/projects/597507018/pebble-time-awesome-smartwatch-no-compromises">pebble steel time watch</a> offa kickstarter.
            I convinced myself it would be a good idea because I love watches and smart things and this seems much more developed than the last one. 10 days battery? Ok!</p>

            <h3>Music <a href="http://last.fm/user/flancexander"><small>my scrobbles</small></a></h3>

            <p>I love it. I especially love <a href="http://en.wikipedia.org/wiki/Hand._Cannot._Erase.">this album</a>, just released by Steven Wilson. My ears go everywhere but naturally rest on rhythm focused, driving music. Prog attack!</p>

            <h3>Recipe</h3>

            <p>I love what slow cookers can do to basic cheap ingredients. The process of cooking is much more fluid and responsive than most sites on the web so I get a big kick out of it.</p>

            <p>Here's one I made just the other day. It fed 4 extremely hungry boys. My satisfaction is based around how stonkered people are after the fact.</p>

            <h4>Ingredients</h4>

            <ul>
                <li>1 5.5 litre slow cooker</li>
                <li>1.7kg rump steak</li>
                <li>2-3 decent sized carrots</li>
                <li>3 decent sized brown onions</li>
                <li>350g tomato paste</li>
                <li>600g diced tomatoes</li>
                <li>3 cups of beef stock</li>
                <li>5 cloves garlic</li>
                <li>2-3 springs Rosemary</li>
                <li>125ml red wine</li>
                <li>375g Pappardelle pasta</li>
                <li>Lotsa shaven parmasen</li>
            </ul>

            <h4>Method</h4>

            <ol>
                <li>Slice onions into rings. Put in bottom of slow cooker.</li>
                <li>Throw in peeled garlic cloves.</li>
                <li>Throw in carrots..  you can chop as you like. Whole if you can't be assed.</li>
                <li>Throw rosemary in.</li>
                <li>In another bowl, combine paste, wine and stock. Mix well.</li>
                <li>Place steak whole in slow cooker (it will just fall apart at the end...)</li>
                <li>Pour stock mix over the top. </li>
                <li>Close the lid! Set to HIGH. Leave it for 8 hours! Don't open the lid!</li>
                <li>Make the pasta according to packet instructions. The fresher the better!</li>
                <li>Serve with Garlic Bread if you're feeling crusty.</li>
                <li>Pass out from food coma ;)</li>
            </ol>

        </div>
    </header>

    <section class="site-content">
        <div class="container">
        {{ content }}





        </div>
    </section>


    <script type="text/javascript">
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	    ga('create', 'UA-41241311-1', 'tomgordon.me');
	    ga('send', 'pageview');
	</script>
	<!--<script type="text/javascript" src="js/ender/ender.min.js"></script>-->

</body>
</html>
