<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- syntax highlighting CSS -->
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
   </head>
<body>

    <header class="site-header">
        <div class="container">
            <h1 class="site-title">Hello, my name is <a href="/">{{ site.name }}</a> and I develop internet.</h1>

            <nav class="site-navigation">
                <ul class="site-navigation__list">
                {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% if page.url == link.url or page.layout == link.layout %}
                        {% assign current = 'current' %}
                    {% endif %}
                    <li class="site-navigation__item {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                        <a class="site-navigation__link {{ current }} {{link.class}}" href="{{ link.url }}"><i class="icon-{{link.icon}}"></i>{{ link.text }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </div>
    </header>

    <section class="site-content">
        <div class="container">
        {{ content }}
        </div>
    </section>


    <script type="text/javascript">
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	    ga('create', 'UA-41241311-1', 'tomgordon.me');
	    ga('send', 'pageview');
	</script>
	<script type="text/javascript" src="js/ender/ender.min.js"></script>
	<script type="text/javascript" src="js/frontend-scripts.js"></script>

</body>
</html>
