@import 'tailwindcss';

/**
  * Custom utilities
  */

@layer utilities {
  /* A util for managing overflow vertically (esp in modal scenarios) */
  .justify-safe-center {
    justify-content: safe center;
  }
}

/**
  * Component styles converted from styled-components
  */

html,
body {
  height: 100%;
  width: 100%;
}
table {
  @apply w-full mb-8 text-left rtl:text-right;
}
th,
td {
  @apply text-left p-3;
}
th {
  @apply bg-gray-200 border align-top border-gray-300 font-semibold;
}
td {
  @apply border align-top border-gray-300;
  &:first-child {
    @apply w-1/6;
  }
}
body {
  font:
    18px/150% 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

body.fontLoaded {
  font:
    18px/150% 'Crimson Text',
    'Roboto',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  line-height: 1.5em;
}

ul {
  @apply list-disc pl-5;
}
a {
  @apply text-blue-600 hover:text-blue-800;
}
p {
  @apply mt-6 mb-4;
}
