@import 'tailwindcss';

/**
  * Custom utilities
  */

@layer utilities {
  /* A util for managing overflow vertically (esp in modal scenarios) */
  .justify-safe-center {
    justify-content: safe center;
  }
}

/**
  * Component styles converted from styled-components
  */

html,
body {
  @apply w-full h-full;
}
table {
  @apply w-full mb-8 text-left rtl:text-right;
}
th,
td {
  @apply text-left p-3;
}
th {
  @apply bg-gray-200 border align-top border-gray-300 font-semibold;
}
td {
  @apply border align-top border-gray-300;
  &:first-child {
    @apply w-1/6;
  }
}
body {
  font:
    18px/150% 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  background-color: #f1f4f8;
  background-image: radial-gradient(#b8c8db 1px, transparent 1px);
  background-size: 22px 22px;
}

body.fontLoaded {
  font:
    18px/150% 'Space Grotesk',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

p,
label {
  line-height: 1.5em;
}

ul {
  @apply list-disc pl-5;
}
a {
  @apply text-blue-700 hover:text-blue-900 transition-colors duration-150;
}
p {
  @apply mt-6 mb-4;
}

@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}
